@charset "UTF-8";
/* CSS Document */

body {
    margin:0px; 
    font-family: 'Georgia';
    text-decoration:none;
    background-color:#f0f0f0;
    height:100%;
    text-decoration:none;
}

a:link {color:#00F; text-decoration:none;}      /* unvisited link */
a:visited {color:#003;}  /* visited link */
a:hover {color:#666;}  /* mouse over link */

hr {
    color: #E4E7EB;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 
}
#grad {
/*  background: -webkit-linear-gradient(#E4E7EB, #365B8F); /* For Safari 5.1 to 6.0 */
/*  background: -o-linear-gradient(#E4E7EB, #365B8F); /* For Opera 11.1 to 12.0 */
/*  background: -moz-linear-gradient(#E4E7EB, #365B8F); /* For Firefox 3.6 to 15 */
/*  background: linear-gradient(#E4E7EB, #365B8F); /* Standard syntax */
    background: #d9d9d9
  height: 105%;
}

#Mage {
    height: 80px;
    width: auto;
    margin-top: -25;
}

.spacer {
    display: inline-block;
    width: 100%;
    height: 100px;
}

.navBar {
    background-color: #002469;
    width: 100%;
    height: 40px;
}

#navBarList {
    margin: 0 auto;
    width: 900px;
}

#navBarList ul {
    list-style-type: none;
    margin: 40px auto 0px;
    padding: 10px;
    text-align: center;    

    height: 40px;
    width: 100%;
}

#navBarList li {
    display: inline;
    float: left;
}

#navBarList a:hover {
    background-color: #002147;
    margin: -10px;
    padding: 10px;
}

#navBarList a:link,
#navBarList a:visited {
    color:#E4E7EB;
    display: block;
    width: 200px;
    text-align: center;
}

#page_cont{
    margin: 60px auto 0px;
    width:900px;
}


/* Picture */
.pic_outerwrap{
    text-align: center;
    margin-top: 20;
}

.pic_outerwrap div {
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
}

.pic_outline{
    padding: 4px;
    background-color:#002469;
}
.pic_inset{
    padding: 4px;
    background-color:#F0F0F0;
}

.pic_outerwrap img {
    display: block;
}

.float-left{
    float:left;
    width:430px;
}

.float-right{
    float:right;
    width:430px;
}

#colorScheme {
    font-size: 12;
    font-weight: 400;
    width: 100%;
    display: inline-block;
    text-align:center;
}

#colorScheme a:link,
a:visited {
    color: #00F;
}

.about {
    font-weight: normal;
    font-size: 16;
    font-family: 'Georgia';
}

.name {
    text-align: center;
    font-size: 30px;
    height: 71px;
    margin-top: -30;
}

/* Contact info table styling */

.contactTable {
    margin: 0 auto;
}

.leftCol {
    text-align: right;
    padding: 5px;
}

.rightCol {
    text-align: left;
    padding: 5px;
}


.talk {margin: 0 0 0 0;}
    .talk h4 {color: #111}
    .talk p {margin: 0 0 5px 0;}
    .talk ul {margin: 0 0 15px 0px;}
        .talk li {list-style-type: none; margin: 0 0 7px 30px;}
        .talk .right {float: right; padding: 0 0 0 0;}

span.pdf a {
      background: url(pdf.png) center right no-repeat !important;
      background-size: 15px 15px !important;
      padding-right: 17px !important;
}


/* Image footer */
/*#footer{
/*    background: url(img/Bonneville.jpg) no-repeat;
/*    background-size: cover;
/*    /*position:fixed;*/
/*    bottom:0;
/*    left:0;
/*    right:0;
/*    width:100%;
/*    height:40%;
/*}
